In [1]:
import pandas as pd
dataset=pd.read_csv("C:\\Users\\RAJESWARI\\Downloads\\tested.csv")
print(dataset)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [2]:
print(dataset.isnull())

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch  Ticket  \
0          False     False   False  False  False  False  False  False   False
1          False     False   False  False  False  False  False  False   False
2          False     False   False  False  False  False  False  False   False
3          False     False   False  False  False  False  False  False   False
4          False     False   False  False  False  False  False  False   False
..           ...       ...     ...    ...    ...    ...    ...    ...     ...
413        False     False   False  False  False   True  False  False   False
414        False     False   False  False  False  False  False  False   False
415        False     False   False  False  False  False  False  False   False
416        False     False   False  False  False   True  False  False   False
417        False     False   False  False  False   True  False  False   False

      Fare  Cabin  Embarked
0    False   True     False
1    False   True     False
2    False   True     False
3    False   True     False
4    False   True     False
..     ...    ...       ...
413  False   True     False
414  False  False     False
415  False   True     False
416  False   True     False
417  False   True     False

[418 rows x 12 columns]

In [3]:
print(dataset.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [4]:
print(dataset.fillna(0))

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   0.0      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   0.0      0      0
417                      Peter, Master. Michael J    male   0.0      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292     0        Q
1                363272    7.0000     0        S
2                240276    9.6875     0        Q
3                315154    8.6625     0        S
4               3101298   12.2875     0        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500     0        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500     0        S
416              359309    8.0500     0        S
417                2668   22.3583     0        C

[418 rows x 12 columns]

In [5]:
print(dataset.fillna(1))

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   1.0      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   1.0      0      0
417                      Peter, Master. Michael J    male   1.0      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292     1        Q
1                363272    7.0000     1        S
2                240276    9.6875     1        Q
3                315154    8.6625     1        S
4               3101298   12.2875     1        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500     1        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500     1        S
416              359309    8.0500     1        S
417                2668   22.3583     1        C

[418 rows x 12 columns]

In [6]:
print(dataset.dropna())

     PassengerId  Survived  Pclass  \
12           904         1       1
14           906         1       1
24           916         1       1
26           918         1       1
28           920         0       1
..           ...       ...     ...
404         1296         0       1
405         1297         0       2
407         1299         0       1
411         1303         1       1
414         1306         1       1

                                                  Name     Sex   Age  SibSp  \
12       Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0      1
14   Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0      1
24     Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0      1
26                        Ostby, Miss. Helene Ragnhild  female  22.0      0
28                             Brady, Mr. John Bertram    male  41.0      0
..                                                 ...     ...   ...    ...
404                       Frauenthal, Mr. Isaac Gerald    male  43.0      1
405       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0      0
407                         Widener, Mr. George Dunton    male  50.0      1
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0      1
414                       Oliva y Ocana, Dona. Fermina  female  39.0      0

     Parch         Ticket      Fare            Cabin Embarked
12       0          21228   82.2667              B45        S
14       0    W.E.P. 5734   61.1750              E31        S
24       3       PC 17608  262.3750  B57 B59 B63 B66        C
26       1         113509   61.9792              B36        C
28       0         113054   30.5000              A21        S
..     ...            ...       ...              ...      ...
404      0          17765   27.7208              D40        C
405      0  SC/PARIS 2166   13.8625              D38        C
407      1         113503  211.5000              C80        C
411      0          19928   90.0000              C78        Q
414      0       PC 17758  108.9000             C105        C

[87 rows x 12 columns]